*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}



/* HEADER  */
header {
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
    background: white;
    font-family:"Roboto", sans-serif;
}
.header__content{
    width: 76%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__list{
    display: flex;
    justify-content: end;
    width: 80%;
}
header li {
    list-style: none;
    display: inline;
}
.header__list ul li a{
    text-decoration: none;
    font-size: 15px;
    padding: 30px 15px;
    font-weight: 600;
}
header a{
    color: #3c3850;
    transition: all 0.5s;
}
header li a :hover{
    cursor: pointer;
    color:#f55f8d ; 
}
.header__button{
    float: right;
    align-items: center;
    position: relative;
    margin-left: 20px;
    padding: 20px 35px;
    height: 50%;
    border-radius: 50px;
    white-space: nowrap;
}
.header__button {
    display: inline-block;
    background-size: 200%;
    border-color: transparent;
    box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
    cursor: pointer;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    transition: 0.5s;
}
.header__content button{
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    border:none;
}
.header__button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.header__content{ 
    clear: both;
}

/* INTRO */

.intro{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin:auto;
    padding-top: 180px;
    font-family: "Poppins", sans-serif;
}
.intro__bg{
    background-image: url(../img/pic2.png);
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    background-repeat:no-repeat;
    background-position:top;
}
.intro__content{
    width: 76%;
    margin: auto;
}
.intro__content{
    display: flex;
    justify-content: flex-end;
}
.intro__left{
    display: block;
}
.intro__left h2{
    margin-bottom: 20px;
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
    font-size: 22px;
}
.intro__left h1{
    margin-bottom: 20px;
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
}
.intro__left p{
    margin-bottom: 15px;
    font-size: 18px;
}
.intro__description{
    position: relative;
}
.intro__description li{
    padding: 10px 5px 10px 48px;
    font-size: 20px;
    list-style: none;
}
.intro__description li::before{
    content: "\f00c";  
    font-family: 'Line Awesome Free';
    font-size: 24px;
    width: 35px;
    height: 35px;
    background-size: 200%;
    background-image: linear-gradient(
        to right,
        #f55f8d 0,
        #f8ae56 51%,
        #f55f8d 100%);    
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 35px;
    font-weight: 900;
}
.intro__description ul li::before{
    position: absolute;
    left: 0px;
    transform: translateY(-15%);
}
.intro__button{
    align-items: center;
    position: relative;
    /* z-index: 9; */
    border-radius: 50px;
    padding: 20px 35px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    border:none;
}
.intro__button {
    display: inline-block;
    background-size: 200%;
    border-color: transparent;
    box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
    cursor: pointer;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    transition: 0.5s;
}
.intro__button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
.intro__man{
    border-radius: 15px;
}
.intro__right{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.intro__move{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro__move img{
    animation: move2 2.5s linear 0s infinite;
}


/* SERVICE */
.service{
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;
}
.service__content{
    width: 70%;
    margin: auto;
    position: relative;
    z-index: 1;
}
.service__text{
    text-align: center;
    margin-bottom: 40px;
}
.service__text h6{
    color: #f55f8d;
    font-size: 22px;
    display: inline-block;
    font-weight: 600;
}
.service__text h2{
    color: #262626;
    font-size: 60px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    margin-bottom: 8px;
}
.service__row{
    display: flex;
    flex: calc(100%/3);
}
.row{
    padding: 0 15px;
}
.row__content{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    transition: all 1s;
}
.row__content:hover {
    transform: translateY(-15px); 
}
.row__pic img{
    margin-bottom: 25px;
    width: 215px;
}
.row__text h4{
    margin-bottom: 15px;
    font-size: 25px;
}
.row__text p{
    color: #636363;
    font-size: 16px;
}

/* ABOUT US */
.about{
    padding-top: 115px;
    padding-bottom: 85px;
}
.about{
    background-image: url(../img/bg15.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
}
.about__container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: end;
}
.about__left, .about__right{
    width: 50%;    
}
.about__container{
    align-items: center;
    margin-right: -15px;
    margin-left: -15px;
}
.about__bg{   
    width: 50vw;
    position: relative;
    border-radius: 0 100px 100px 0;
    vertical-align: middle;
    left: -16%;
}
.about__bg img {
    width: 100%;
    border-radius: 0 100px 100px 0;
    position: relative;
}
.about__left::before {
    content: "";
    height: 100%;
    background: #fef2f6;
    position: relative;
    top: 0;
    width: 50vw;
    right: -13px;
    transform: rotate(8deg);
    border-radius: 0 100px 100px 0;
}
.about__right{
    position: relative;
    margin-bottom: 30px;
    flex: 50%;
    max-width: 50%;
}
.about__title h6{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
}
.about__title h2{
    line-height: 1.2;
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 20px;
    color: #262626;;
}
.about__title p{
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 16px;
    color: #636363;
}
.about__right ul{
    font-size: 15px;
    margin-bottom: 30px;
    list-style: none;
}
.about__right ul li{
    position: relative;
    padding: 8px 5px 8px 35px;
}
.about__right ul li:before{
    content: "\f120";
    font-family: Flaticon;
    font-size: 24px; 
    color: #f55f8d;
}
.about__right ul li:before{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.about__right button{
    align-items: center;
    position: relative;
    /* z-index: 9; */
    border-radius: 50px;
    padding: 20px 35px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.2;
    border:none;
}
.about__right button{
    display: inline-block;
    background-size: 200%;
    border-color: transparent;
    box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
    cursor: pointer;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    transition: 0.5s;
}
.about__right button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* NUMBER */
.number{
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #fffbf7;
    font-family: "Poppins", sans-serif;
}
.number__container{
    width: 70%;
    margin: auto;
}
.number__row{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.number__content{
    margin-bottom: 30px;
    width: 25%;
}

.number__icon{
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    color: white;
    background: rgb(245,95,141);
    background: linear-gradient(11deg, rgba(245,95,141,1) 0%, rgba(248,174,86,1) 51%, rgba(217,169,184,1) 100%);
}
.number__icon i{
    font-size: 45px;
    vertical-align: middle;
}
.number__text h2{
    font-size: 65px;
    font-weight: 800;
    line-height: 1;
    color: #f55f8d;
}
.number__text p{
    color: #262626;
    font-size: 18px;
}



/* FEATURES */
.feature{    
    background-image: url(../img/bg2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;
}
.feature__container{
    width: 70%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    padding-top: 115px;
    padding-bottom: 0;
}
.feature__content{
    display: flex;
}
.feature__left{
    padding: 0 10px;
}
.feature__title h6{
    color: #f55f8d;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
}
.feature__title h2{
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
    margin-top: 0;
    margin-bottom: 8px;
}
.feature__table{
    display: block;
    position: relative;
    box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
    padding: 25px;
    margin-right: 50px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 1s;
    width: 519.5px;
    height: 151.19px;
}
.feature__table--2{
    margin-left: 50px;
}

.table__content{
    position: relative;
    z-index: 1;
}
.feature__table::after{
    content: "";
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
);
  background-size: 200%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  border-radius: 10px;
}
.feature__table:hover::after {
    opacity: 1;
}
.table__icon i{
    color: #f55f8d;
    font-size: 80px;
    line-height: 1;
    float: left;
    padding-right: 25px;
}
.table__text h4{
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 25px;
    color: #262626;
}
.table__text p{
    color: #757575;
}
.feature__img img{
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    margin-right: -80px;
    animation: move2 2.5s linear 0s infinite;
}

/* PROJECT */
.project{
    background-image: url(../img/bg17.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
}
.project__container{
    width: 70%;
    margin: auto;
}
.project__title{
    margin-bottom: 40px;
    text-align: center
}
.project__title h6{
    color: #f55f8d;
    display: inline-block;
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: 600;
}
.project__title h2{
    font-size: 60px;   
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 800;
}
.project__item img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    object-fit: cover;
}
.project__content{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    gap: 30px;
}
.item1{
    grid-column: 1 / span 2;
}
.item5{
    grid-column: 1 / span 2;
}
.item6{
    grid-column: 3/4;
    grid-row: 2/4;
}
.project__item{
    position: relative;
    overflow: hidden;
}
.project__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius:10px ;
    background-color: rgba(0, 0, 0, 0.4);
    opacity:0;
    transition: all 0.5s;   
}
.project__item:hover .project__overlay{
    opacity: 1;
}
.project__icon {    
    position: absolute;
    right: 30px;
    top: 30px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    color: #fff;
    transform: translate(40px,-40px);
    transition: all 0.5s;
}
.project__icon i{color: #fff;}
.project__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(50px);
    transition: all 0.5s;
}
.project__shine{
    position: relative;
    overflow: hidden; 
}
.project__shine:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
}
.project__shine:hover:before{
    animation: shine .75s;
}

.project__item:hover .project__icon{
    transform: translate(0px,0px);
}
.project__item:hover .project__text{
    transform: translateY(0px);
}
/* .project__item:hover .project__shine{
    transform: skewX(0deg);
} */

.project__text{
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.project__text h5{
    font-size: 22px;
    color: white;
}
.project__text p{
    color: white;
    font-size: 16px;
    opacity: 0.7;
}

/* PLAN */
.plan{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
}
.plan__container{
    width: 70%;
    margin: auto;
}
.plan__title{
    text-align: center;
    margin-bottom: 16px;
}
.plan__title h6{
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0px;
    color: #f55f8d;
}
.plan__title h2{
    line-height: 1.2;
    font-weight: 800;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 8px;
}
.plan__button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 40px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 235px;
    background-size: 200%;
    padding: 4px;
    position: relative;
    z-index: 1;
    box-shadow: 0 10px 20px 0 rgba(245, 95, 141, 0.1);
    color: #fff;
    font-size: 14px;
}

.plan__column{
    display: flex;
    flex: calc(100%/3);
    justify-content: center;
    flex-wrap: wrap;
}
.column{
    padding-left: 15px;
    padding-right: 15px;
}
.column__content{
    background-color: #fff;
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.5s;
    border-image: 100 round;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
}
.column__content:hover{
    border-image: url(../img/br.png) 1 round;
    transition: all 0.5s ;
}
.column__title{
    margin-bottom: 0 0 8px;
}
.column__title h3{
    font-size: 32px;
    color: #262626;
    text-align: center;
}
.column__img{
    display: block;
    margin-bottom: 15px;
    text-align: center;
}
.column__img img{
    width: 125px;
}
.column__price h2{
    text-align: center;
    margin-bottom: 25px;
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
}
.price__small{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}
.column__list{
    padding: 15px 0;
    border-top: 1px solid #E1E1F0;
    list-style: none;
}


.column__button{
    text-align: center;
}
.column__button button{
    display: inline-block;
    background-size: 200%;
    border-color: transparent;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 20px 35px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
    cursor: pointer;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    color: #fff;
    transition: 0.5s;
}
.column__button:hover button{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

/* CLIENT SAY */
.say{
    background-image: url(../img/bg17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;
}
.say__container{
    width: 70%;
    margin: auto;
}
.say__title{
    text-align: center;
    margin-bottom: 16px;
}
.say__title h6{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 0px;
}
.say__title h2{
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
}

                    /* SWIPER  */
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
}
.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.say__row .testimonial-thumbs .testimonial-pic .shape-bx {
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    z-index: 0;
    opacity: 0;
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s; }
.say__row .testimonial-thumbs .testimonial-pic .shape-bx:before, .say__row .testimonial-thumbs .testimonial-pic .shape-bx:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 7px;
    transition: all 1s; 
}
.say__row .testimonial-thumbs .testimonial-pic .shape-bx:after {
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 35px;
    width: 50px; }

.say__row .testimonial-thumbs .testimonial-pic .shape-bx:before {
    background-color: #f55f8d;
    height: 35px;
    width: 50px; }
.say__row .testimonial-thumbs .testimonial-pic:before, .say__row .testimonial-thumbs .testimonial-pic:after {
    content: "";
    background-color: #f55f8d;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0; }
.say__row .testimonial-thumbs .testimonial-pic:before {
    height: 15px;
    width: 15px;
    bottom: 20px; 
}
.say__row .testimonial-thumbs .testimonial-pic:after {
    height: 10px;
    width: 10px;
    bottom: 0; 
}
.say__row .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px; 
}
  .say__row .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic .shape-bx {
    opacity: 1; 
}
  .say__row .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic:before, .say__row .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic:after {
    opacity: 1; 
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;

}
.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-container {
    overflow: hidden;
}
.testimonial-text{
    padding: 15px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}
.testimonial-text p{
    color: #636363;
}
/* .testimonial-content .quote:before{
    content: "\f121";
    font-family: 'Flaticon';
    top: 10px;
    left: 30px;
    right: auto;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(180deg);
} */
.testimonial-name{
    display: block;
    font-size: 22px;
    font-weight: 800;
    font-family: "Poppins", sans-serif;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}
.testimonial-position{
    display: block;
    margin-bottom: 20px;
    color: #f55f8d;
}



/* BLOG */
.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 115px;
    padding-bottom: 0;
    font-family: "Poppins", sans-serif;
}
.blog__container{
    width: 70%;
    margin: auto;
}
.blog__title{
    text-align: center;
}
.blog__title h6{
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
}
.blog__title h2{
    font-size: 60px;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
    margin-bottom: 8px;
}
.item{
    margin-right: 30px;
}
.item__content{
    margin-bottom: 10px;
    position: relative;
    background: rgb(245 95 141 / 10%);
    border-radius: 8px;
}
.item__img{
    overflow: hidden;
    position: relative;
    border-radius: 8px
}
.item__info{
    position: relative;
    padding: 30px 15px 20px 15px;
}
.item__info h4{
    margin-bottom: 10px;
    line-height: 1.4;
    font-weight: 700;
    font-family: inherit;
    font-size: 25px;
    transition: 1s;
}
.item__info h4:hover{
    color: #f55f8d;
    cursor: pointer;
}
.item__info p{
    margin-bottom: 20px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;;
}
.item__comment ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 20px;
    list-style: none;
    align-items: center;
}
.item__comment ul li{
    text-transform: uppercase;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    margin-right: 20px;
}
.item__comment ul li.date{
    position: absolute;
    top: -15px;
    left: 15px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);;
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    font-weight: 400;
    line-height: 1;
    z-index: 1;
}
.item__comment ul li i{
    font-size: 22px;
    color: #f55f8d;
    margin-right: 5px;
    margin-top: -1px;
}

/* LOGO  */
.logo{
    padding-top: 80px;
    padding-bottom: 50px;
}
.logo__container{
    width: 70%;
    margin: auto;
}
.logo__content{
    width: 169.833px;
    margin-right: 30px;
    overflow: hidden;
}
.logo__img{
    padding: 20px 30px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 4px;
    transition: all 1s;
    position: relative;
}
.logo__img img{
    width: auto;
    margin: auto;
}
.logo__img:hover {
    background: #f55f8d;
    box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.5); 
}
.logo__img:hover .logo__main {
    display: none; 
}
.logo__img:hover .logo__hover {
    display: block; 
}
.logo__container .logo__img{
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden; 
}
.logo__container .logo__img:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: all 1s; }
.logo__container .logo__img:hover {
      box-shadow: 5px 0 30px 0 rgba(245, 95, 141, 0.05);
}
.logo__container .logo__img:hover:after {
        opacity: 1; 
}


/* FOOTER  */
.footer{
    background-image: url(../img/bg4.png);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto;
    background-color: #0e1b1f;
    background-size: contain;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}
.footer{
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: auto;
    background-color: #0e1b1f;
    background-size: contain;
    z-index: 1; 
}
.footer:before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
.footer__container-sub{
    width: 70%;
    margin: auto;
}
.footer__sub{
    padding: 50px 60px;
    background-color: #fff;
    z-index: 99;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.sub__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sub__left, .sub__right{
    width: 50%;
    /* padding: 0 15px; */
}
.sub__left h2{
    font-size: 28px;
    color: #262626;
    font-weight: 700;
    margin-bottom: 8px;
}

.sub__right{
    display: flex;
    height: 50px;
    border: none;
    outline: none;
    overflow: hidden;
    align-items: center;
    position: relative;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transition: all 1s;
}

.form__input{
    width: 80%;
    /* flex: 1 1 auto; */
}
.sub__right .form__input, .form__icon{
    height: 100%;
}
.form__icon{
    position: relative;
    cursor: pointer;
    width: 20%;
}
.form__icon button{
    position: relative;
    width: 100%;
    height: 57px;
    border-radius: 0 8px 8px 0;
    border: none;
    text-align: center;
    vertical-align: middle; 
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    z-index: 2;
    font-size: 20px;
    transition: 0.5s;
}
.form__icon button i{
    font-size: 30px;
    color: #fff;
}
.form__icon button:hover {
    background-position: right center;
    text-decoration: none;
}

.mail{
    height: 100%;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    border: none;
    border-radius: 8px 0 0 8px;
    transition: all 0.3s ease-in-out;
}
.mail:hover{
    border: 1px solid #cccccc;
}
.footer__container-top{
    width: 70%;
    margin: auto;
}
.footer__content{
    margin: 70px 0 30px;
}
.footer__row{
    display: flex;
    flex: wrap;
}
.footer__info, .footer__item{
    width: 25%;
    padding: 0 15px;
}
.footer__list ul, .footer__item ul{
    list-style: none;
}
.footer__list ul li span{
    color: rgba(255,255,255,0.6);
}
.footer__list ul li{
    display:flex;
    align-items: center;
    padding: 8px 0;
}
.footer__list ul li i{
    color: #fff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer-title{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
}
.footer__item ul li{
    position: relative;
    padding: 8px 0 8px 15px;
    margin-bottom: 0;
    line-height: 1.25rem;
}
.footer__item ul li a{
    text-decoration: none;
    color:rgba(255,255,255,0.6);
    transition: 0.5s;
}
.footer__item ul li a:hover{
    color: #fff;
}
.footer__item ul li a::before{
    content:"\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    position: absolute;
    display: block;
    left: 0px;
    top: 8px; 
}
.footer-title:before,.footer-title:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.footer-title:before{
    width: 15px; 
}
.footer-title:after{
    width: 45px;
    left: 20px;
}


.footer__container-bot{
    background-color: #1f343b;
    background-size: cover;
    padding: 10px 0;
}
.footer__bot{
    width: 70%;
    margin: auto;
}
.bot__content{
    display: flex;
}
.bot__left{
    width: 50%;
    text-align: left;
}
.bot__right{
    width: 50%;
    text-align: right;
}
.bot__left span{
    color: rgba(255,255,255,0.5);
}
.bot__right ul li{
    list-style: none;
    display: inline;
}
.bot__right ul li a{
    background-color: rgba(255,255,255,0.1);
    text-decoration: none;
    color: #fff;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    margin: 2px;
    transition: all 1s;
}
.bot__right ul li a:hover{
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}

/* BACK TO TOP  */
.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
.cd-top--fade-out {
    opacity: .5;
}




@keyframes move2 {
    0% {
      transform: rotate(1deg) translate(2px, 2px); }
    50% {
      transform: rotate(-1deg) translate(-2px, -2px); }
    100% {
      transform: rotate(1deg) translate(2px, 2px); } 
}

@keyframes shine {
    100% {
      left: 125%; } }